{% extends 'base.html.twig' %}

{% block title %}{{ 'Мои обзоры'|trans }}{% endblock %}

{% block body %}
    <div class="site-section bg-light min-vh-80">
        <div class="container mb-5">

            {% if is_granted('ROLE_ADMIN') %}
                <h2 class="text-center mb-5">{{ 'Обзоры юзера'|trans }} {{ user.getFullName() }}</h2>
            {% else %}
                <h2 class="text-center mb-5">{{ 'Мои обзоры'|trans }}</h2>
            {% endif %}
            
            <div class="mb-3">
                <a href="{{ path('app_article_create', {'userId': user.id}) }}" class="btn btn-primary">{{ 'Создать обзор'|trans }}</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_profile', {'id': user.id}) }}" class="btn btn-primary">{{ 'Профиль юзера'|trans }}</a>
                {% endif %}
            </div>
            <div class="mb-3">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">№</th>
                            <th scope="col">{{ 'Название обзора'|trans }}</th>
                            <th scope="col">{{ 'Действия'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, article in articles %}
                            <tr>
                                <th scope="row" class="align-middle">{{ key + 1 }}</th>
                                <td class="align-middle">{{ article.title }}</td>
                                <td>
                                    <a href="{{ path('app_article_edit', {'id': article.id}) }}" class="btn btn-warning">{{ 'Редактировать'|trans }}</a>
                                    <a href="{{ path('app_article_show', {'id': article.id}) }}" class="btn btn-success">{{ 'Открыть'|trans }}</a>
                                    <a href="{{ path('app_article_delete', {'id': article.id}) }}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                                </td>
                            </tr>    
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}