{% extends 'base.html.twig' %}

{% block title %}{{ 'Личный кабинет'|trans }}{% endblock %}

{% block body %}
    <div class="site-section bg-light">
        <div class="container mb-5">
            {% if is_granted('ROLE_ADMIN') %}
                <h2 class="text-center mb-5">{{ 'Вы находитесь в кабинете юзера'|trans }} {{ user.getFullName() }}</h2>
            {% else %}
                <h2 class="text-center mb-5">{{ 'Мои данные'|trans }}</h2>
            {% endif %}
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <img src="{{ user.getProfileImage() }}" class="img-fluid rounded">
                </div>
                <div class="col-md-6">
                    <p>{{ 'Полное имя'|trans }}: {{ user.getFullName() }}</p>
                    <p>{{ 'Почта'|trans }}: {{ user.getEmail() }}</p>
                    <p>{{ 'Мои роли'|trans }}: {{ user.getRoles()|join(', ') }}</p>
                    <div class="mb-3">
                        <a href="{{ path('app_profile_edit', {'id': user.getId()}) }}" class="btn btn-primary">{{ 'Изменить данные'|trans }}</a>
                    </div>
                    <div class="mb-3">
                        <a href="{{ path('app_profile_articles', {'id': user.getId()}) }}" class="btn btn-primary">{{ 'Мои обзоры'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
