{% extends 'base.html.twig' %}

{% block title %}{{ 'Войти'|trans }}!{% endblock %}

{% block body %}
<div class="site-section bg-light">
    <div class="container mb-5">
        <h1 class="text-center h2 mb-5">{{ 'Форма входа'|trans }}</h1>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {# {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.getEmail() }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %} #}
            
            <div class="row justify-content-center">
                <div class="mb-3 col-md-7">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="mb-3 col-md-7">
                    <label for="inputPassword" class="form-label">{{ 'Пароль'|trans }}</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                </div>
            </div>
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}
            <div class="row justify-content-center">
                <div class="mb-3 col-md-7 text-center">
                    <button class="btn btn-lg btn-primary mb-4" type="submit">{{ 'Войти'|trans }}</button>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="mb-3 col-md-7 text-center">
                    <a href="{{ path('app_register') }}">{{ 'Регистрация'|trans }}</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
