{% extends 'base.html.twig' %}

{% block body %}
    <div class="site-section bg-light">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12">
                    {% block categoryTitle %}
                        <h2>{{ category|trans }}</h2>
                    {% endblock %}
                </div>
            </div>
            <div class="row">

                {% for article in articles %}
                    <div class="col-lg-4 mb-4">
                    <div class="entry2">
                        <div class="img-container">
                            <a href="{{ path('app_article_show', {'id': article.getId()}) }}">
                                <img src="{{ article.getImagePath() }}" alt="Image" class="img-fluid rounded">
                            </a>
                        </div>
                        <div class="excerpt">
                            <span class="post-category text-white {{ (article.getCategory() == 'Фильмы') ? 'bg-secondary' : (article.getCategory() == 'Книги') ? 'bg-success' : 'bg-warning' }} mb-3">{{ article.getCategory()|trans }}</span>
                            <h2><a href="{{ path('app_article_show', {'id': article.getId()}) }}">{{ article.getTitle() }}</a></h2>
                            <div class="post-meta align-items-center text-left clearfix">
                                <figure class="author-figure mb-0 mr-3 float-left">
                                    <img src="{{ article.getAuthor().getProfileImage() }}" alt="Image" class="img-fluid">
                                </figure>
                                <span class="d-inline-block mt-1">{{ article.getAuthor().getFullName() }}</span>
                                <span>&nbsp;-&nbsp; {{ article.createdAt()|date("m/d/Y") }}</span>
                            </div>
                            <p class="overflow-hidden aticle-text">{{ article.text }}</p>
                            <p><a href="{{ path('app_article_show', {'id': article.getId()}) }}">{{ 'Подробнее'|trans }}</a></p>
                        </div>
                    </div>
                </div>
                {% endfor %}

                
            </div>
            <div class="row text-center pt-5 border-top">
                <div class="col-md-12">
                    <div class="custom-pagination">
                        {{ knp_pagination_render(articles) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
            