{% extends 'base.html.twig' %}

{% block title %}{{ 'Редактирование обзора'|trans }}{% endblock %}

{% block body %}
    <div class="site-section bg-light">
        <div class="container">
            <h1 class="text-center h2 mb-5">{{ 'Редактирование обзора'|trans }}</h1>

            {{ form_start(articleEditForm) }}
                <div class="row justify-content-center">
                    {{ form_row(articleEditForm.title, {
                        label: 'Название обзора'|trans,
                        attr: {class: 'form-control'}
                    }) }}
                </div>
                 <div class="row justify-content-center">
                    {{ form_row(articleEditForm.text, {
                        label: 'Текст обзора'|trans,
                        attr: {
                            class: 'form-control',
                            rows: 10
                        }
                    }) }}
                </div>
                <div class="row justify-content-center">
                    {{ form_row(articleEditForm.category, {
                        label: 'Категория'|trans,
                        attr: {class: 'form-control'}
                    }) }}
                </div>
                <div class="row justify-content-center">
                    {{ form_row(articleEditForm.author_rating, {
                        label: 'Рейтинг'|trans,
                        attr: {class: 'form-control'}
                    }) }}
                </div>
                <div class="row justify-content-center">
                    <div class="mb-3 col-md-7">
                        {{ form_row(articleEditForm.image_path, {
                            label: 'Загрузите или перетяните файл'|trans,
                            required: false
                        }) }}
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="mb-3 col-md-7 text-center">
                        <button type="submit" class="btn btn-primary">{{ 'Сохранить'|trans }}</button>
                    </div>
                </div>
            {{ form_end(articleEditForm) }}
        </div>
    </div>
{% endblock %}
