{% extends 'base.html.twig' %}

{% block body %}
    <div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('{{ article.getImagePath() }}');">
        <div class="container">
            <div class="row same-height justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="post-entry text-center">
                        <span class="post-category text-white bg-success mb-3">{{ article.getCategory() }}</span>
                        <h1 class="mb-4">{{ article.getTitle() }}</h1>
                        <div class="post-meta align-items-center text-center">
                            <figure class="author-figure mb-0 mr-3 d-inline-block">
                                <img src="{{ article.getAuthor().getProfileImage() }}" alt="Image" class="img-fluid">
                            </figure>
                            <span class="d-inline-block mt-1">{{ article.getAuthor().getFullName() }}</span>
                            <span>&nbsp;-&nbsp; {{ article.createdAt()|date("m/d/Y") }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="site-section py-lg">
        <div class="container">
            <div class="row blog-entries element-animate">
                <div class="col-md-12 col-lg-8 main-content">
                    <div class="post-content-body">
                        <p>{{ article.getText() }}</p>
                    </div>
                    <div class="pt-5">
                        <p>Категория: <a href="{{ path('app_articles_category', {'category': category}) }}">{{ article.getCategory() }}</a></p>
                    </div>
                    <div class="pt-5">
                        <h3 class="mb-5">Комментарии</h3>
                        <ul class="comment-list">
                            <li class="comment">
                                <div class="vcard">
                                    <img src="images/person_1.jpg" alt="Image placeholder">
                                </div>
                                <div class="comment-body">
                                    <h3>Jean Doe</h3>
                                    <div class="meta">January 9, 2018 at 2:21pm</div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                                </div>
                            </li>
                        </ul>
                        <div class="comment-form-wrap pt-5">
                            <h3 class="mb-5">Оставить комментарий</h3>
                            <form action="#" class="p-5 bg-light">
                                <div class="form-group">
                                    <label for="name">Name *</label>
                                    <input type="text" class="form-control" id="name">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email *</label>
                                    <input type="email" class="form-control" id="email">
                                </div>
                                <div class="form-group">
                                    <label for="website">Website</label>
                                    <input type="url" class="form-control" id="website">
                                </div>
                                <div class="form-group">
                                    <label for="message">Message</label>
                                    <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Post Comment" class="btn btn-primary">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4 sidebar">
                    <div class="sidebar-box">
                        <div class="bio text-center">
                            <img src="{{ article.getAuthor().getProfileImage() }}" alt="Image Placeholder" class="img-fluid mb-5">
                            <h2>{{ article.getAuthor().getFullName() }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}